body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

h1 {
  max-width: 50vw;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  scale: 1.1;
}

#main {
  background-image: url('https://static.wixstatic.com/media/29b19c48a03a405b82078bcee21c43bd.jpg/v1/fill/w_503,h_859,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Boats%20on%20Water.jpg');
  background-size: cover;       
  background-repeat: no-repeat; 
  height: 1700px;               /* Adjust based on content */
  min-height: 100vh;          /* Ensures minimum height is the viewport height */
  overflow: auto;             /* Enables scrolling */
}
#main {
  scrollbar-width: thin; /* Options: auto, thin, none */
  scrollbar-color: #000000 #f1f1f1; /* Scrollbar thumb and track color */
}

/* Custom scrollbar for WebKit browsers (Chrome, Safari) */
#main {
  overflow: scroll; /* Ensure that the scroll is enabled */
}

/* Customizing the scrollbar */
#main::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

#main::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the scrollbar track */
  border-radius: 10px;
}

#main::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: 10px;
}

#main::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar thumb on hover */
}
